.container-data-character {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 1rem;
    background-color: rgb(60, 62, 68);
    color: white;

}

.container-data {
    display: flex;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 25px;
    gap: 1rem;
}

.container-info-data-character {
    display: flex;
    flex-direction: column;
}

.img-data-character {
    width: 200px;
    border-radius: 10px;
}

.style-link {
    color: white;
    transition: 0.2s;
    text-decoration: none;
}

.style-link:hover {
    color: rgb(28, 28, 255);
}